@import '@/style/common';
#talk-area{
    position:absolute;
    right:-1px;
	top:0px;
	width:100%;
	height:100%;
	display:flex;
	border-left:$border_style;
	z-index:100;
	.talkarea-left{
		width:312px;
	}
	.talkarea-right{
		flex:1;
		display:flex;
		flex-direction:column;
		position: relative;
	}
    .top{
		height:60px;
		border-bottom:$border_style;
		border-left:$border_style;
		margin-left:-1px;
		-webkit-app-region: drag;
        .iconfont{
            position: absolute;
            right:20px;top:23px;
			cursor:pointer;
			-webkit-app-region: no-drag;
        }
    }
    
	.con-nickname{
		display:inline-block;max-width:300px;
		@include text_ellipse;
		font-size:16px;position:absolute;
		top:20px;left:20px;
		-webkit-app-region: no-drag;
	}
	
	#send-message-area{
		width:100%;height:160px;
		border-top:$border_style;
		position: relative;
		.operate-multiple-message{
			position: absolute;
			width:100%;height:100%;
			top:0px;left:0px;
			background:#fff;
			z-index:1;
			span{
				cursor: pointer;display:inline-block;
				position: absolute;
				top:40%;transform:translateX(-50%);
			}
			.transmit{
				left:20%;font-size:28px;
			}
			.delete{
				left:50%;font-size:30px;
			}
			.icon-guanbi{
				right:10%;
			}
			.icon-guanbi{
				top:46%;
			}
		}
		.area-pannel{
			height:30px;position: relative;
		}
		.notice-empty-message{
			display:none;
			position: absolute;
			left:50%;top:5px;
			transform:translateX(-50%);
			font-size:14px;
			color:$font_color_warning;
		}
		#modal-emoji-list{
			position:absolute;bottom:30px;background:#fff;
			display:none;
			width:275px;overflow:auto;height:200px;border:1px solid #ddd;
			border-left:0 none;padding:10px;border-top-right-radius:5px;
		}
		.send-emoji-message,.send-file-message,
		.share-card-message,.screen-capture{
			width:20px;height:20px;float:left;
			margin:10px 12px 0px 0px;line-height:20px;text-align:center;
			span{
				cursor:pointer;
			}
		}
		.send-emoji-message{
			margin-left:10px;
			margin-top:0px;padding-top:10px;
			span{
				font-size:20px;
			}
		}
		.send-file-message{
			position:relative;
			span{
				font-size:18px;
			}
			input{
				position:absolute;width:20px;
				cursor:pointer;top:-4px;left:-4px;
				font-size:0;padding:6px 3px;
				opacity:0;background:#ccc;
				z-index:-1;
			}
		}
		.share-card-message{
			span{
				font-size:18px;
			}
		}
		.screen-capture{
			margin-left:4px;
		}
		textarea{
			-webkit-user-select: none;
			width:100%;border:0 none;
			resize:none;box-sizing:border-box;
			height:70px;font-size:14px;
			outline:none;padding:10px;background:#FFFFFF;
			padding-top:0px;padding-bottom:0px;
			box-sizing:border-box;margin-top:5px;
		}
		.btn-send-message{
			position:absolute;right:15px;bottom:15px;
		}
		.send-notice{
			position:absolute;
			bottom:16px;font-size:12px;
			right:70px;
			height:20px;
			color:$font_color_notice;
		}
		.not-find-url{
			position: absolute;background:#fff;
			top:-40px;left:18px;
			border:$border_style;
			height:30px;
			line-height:30px;
			z-index:1;box-shadow:$box_shadow;
			border-radius:5px;
			padding:0 10px;
			color:#ccc;
		}
		.share-url-card{
			position: absolute;background:#fff;
			top:-160px;left:18px;
			border:$border_style;
			width:300px;height:150px;
			z-index:1;box-shadow:$box_shadow;
			border-radius:5px;
			cursor: pointer;
			.send-url-card{
				height:30px;line-height:30px;
				color:$font_color_success;
				text-indent:10px;
			}
			h3{
				text-indent:10px;
				@include text_ellipse;
			}
			.url-content{
				float:left;
				margin-left:10px;
				margin-top:8px;
				font-size:12px;
				width:200px;
				height:88px;
				@include text_ellipse;
				white-space:pre-wrap;
			}
			img{
				width:60px;height:60px;
				float:right;margin-right:10px;
				margin-top:20px;
			}
		}
	}
	
}
.modal-quit-delete-group{
	position:fixed;background:#fff;
	box-shadow:$box_shadow;display:none;
	width:280px;height:190px;
	p.notice{
		text-align:center;width:100%;
		margin-top:40px;
	}
	button{
		position: absolute;
		bottom:20px;
	}
	.btn-success{
		right:160px;
	}
	.btn-default{
		right:88px;
	}
}
.pointed-message{
	position: absolute;
	top:-226px;left:8px;
	height:224px;
	width:200px;
	background:#fff;
	box-shadow:$box_shadow;
	ul{
		height:100%;
		li{
			width:100%;
			cursor: pointer;
			>div{
				float: left;
				margin:10px;
			}
			>p{
				width:120px;line-height:56px;
				@include text_ellipse;
				float:left;font-size:12px;
			}
			&:hover{
				background:$hover_bagcolor;
			}
		}
	}
}
